<div class="container center">
   <div class="row">
      <form class="col s12 m6 l6 offset-m3 offset-l3" action="/items" method="GET">
      <div class="caja card-panel">
        <div class="input-field ">
          <input placeholder="Que articulos deseas buscar" id="search" type="text" class="" name="search">
        </div>
        <div class="input-field">
          <button type="submit" class="btn  black">Buscar</button>
        </div>
      </div>      
</div>